
<div>
  <v-form v-model="valid">
    <p class="ma-4 login-title">Login</p>
    <v-text-field
      class="mt-5 ml-5 mr-5 login-input rounded-1"
      v-model="username"
      label="Username"
      type="text"
      :rules="usernameRules"
      outlined
      autocomplete="off"
      required
    ></v-text-field>
    <v-text-field
      id="password"
      class="ml-5 mr-5 login-input rounded-1"
      v-model="password"
      label="Password"
      type="password"
      :rules="passwordRules"
      outlined
      required
    ></v-text-field>
    <v-btn :disabled="!valid" color="success" class="mr-4" @click="loginFunction">
      Login
    </v-btn>
  </v-form>
</div>

